$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-titles: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-size-body: 16px;
$font-size-h1: 36px;
$site-width: 1200px;